body {
    display: flex;
    justify-content: center;
    align-content: center;
    background: url('https://images.unsplash.com/photo-1566055800756-5b352355a8f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80');
    z-index: 1000;
    
}

.container {
width: 480px;
height: 853px;

display: flex;
flex-direction: column;

background-color: #1e3d42;
font-family: monospace;

box-shadow: 5px 10px 14px -7px #1e3d42;
z-index: 1;
}

@media (max-width:641px) {
    .container { 
        width: 100%;
        height: 100%;
        
        
    }
    body {
        width: 100vw;
        height: 90vh;

        overflow-x: hidden; 
        overflow-y: hidden;
        /* height: calc(var(--vh, 1vh) * 100);
        position: fixed;
        margin: 0; */
    }
}

#settings {
    width: 100%;
    height: 8%;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: #2a363b;
    box-shadow: 0px 10px 14px -7px #1e3d42;
    
}



.logo {
    margin-left: 10px;
    font-size: 35px;
}

#pomodoro {
 font-size: 40px;
}

#burger {
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#burger:hover {
    border: solid 1px whitesmoke;
    
}

#burger div { 
    justify-content: flex-end;

    width: 35px;
    height: 5px;
    background-color: white;
    margin: 8px;
    transition: all 0.3s ease-in;

}

.elements {
    

    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    
}

.counter {
    /* margin-top: 100px; */
    margin-left: 5%;
    height: 300px;
    width: 90%;

    font-family: monospace;

    display: inline-flex;

    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    /* -webkit-box-shadow: inset 0px -5px 4px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: inset 0px -5px 4px 0px rgba(0,0,0,0.32);
    box-shadow: inset 0px -5px 4px 0px rgba(0,0,0,0.32); */

    
}



.timerTimeLeft {
    width: 85%;
    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: whitesmoke;
    font-size: 70px;
}

.timerButtons {
    height: 100%;

    display: flex;
    flex-direction: column;
    margin-right: 0;
    
}

.timerButtonClass {
    font-family: monospace;
    height: 33.3%;
    background-color: transparent;
    font-size: 20px;
    color: whitesmoke;
    border: none;
    
    cursor: pointer;

    /* -webkit-box-shadow: -5px 0px 4px 0px rgba(0,0,0,0.32);
-moz-box-shadow: -5px 0px 4px 0px rgba(0,0,0,0.32);
box-shadow: -5px 0px 4px 0px rgba(0,0,0,0.32); */
   
}

.timerButtonClass:hover {
    border: 1px solid whitesmoke;
    /* -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32); */
    
}



/* buttons */
#work {
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
   
}

#work:visited {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
}

#longBreak {
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}

/* button and background color classes */


.red {
    background-color: #ff847c;
}

.goldenrod {
    background-color: #4CAF50;
}

.venomGreen {
   background-color: #99b898;
}

.borderLeft {
    border-left: none;
}

/* #work, #break{
    border-bottom: 1px solid #1e3d42;;
} */





.playPause {
    /* margin-top: 35px; */
    text-align: center;
    
}

.formButton {
   
    box-shadow: 0px 10px 14px -7px #1e3d42;
	
	background-color:#2a363b;
	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin: 10px;
}

.playPauseButton {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    
}

.formButton:hover {
    border: 2px solid whitesmoke;
}



#pause {
    display: none;
} 

/* #skip {
    height: 45px;
    width: 45px;
} */

.log {
    
    margin-left: 5%;
    height: 200px;
    width: 90%;

    display: flex;
    flex-direction: column;

    background-color: #fecea8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 14px -7px #1e3d42;
}

.logTop {
    width: 100%;
    background-color: #2a363b;
    color: whitesmoke;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logTop h3 {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logDisplay {
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.logDisplay .logPleft {
    
    margin-left: 10px;
    width: 85%;
}

.fullCyclesLog {
    display: inline-flex;
    height:30px;
}



footer {
    width: 100%;
    height: 8%;



    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #2a363b;
    
}

footer i {
    margin-left: 35px;
    font-size: 30px;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}

footer a:hover {
    color: #99b898;
}

/* settings hidden menu */

.hidden {
    display: none;
}

.settingsElement {

    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    
    justify-content: space-evenly; 

    background-color: #33474f;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;

    font-size: 18px;
/* change below to display ( flex or none ) */

    opacity: 0;
    transform: translateX(100%);
    transition: all 0.1s ease;
    

    position: absolute;
    /* display: none; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.settingsElement form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
}


.settingsSetup {
    
    
    color: white;
    display: inline-flex;
    justify-content: space-between;
}


.settingsElement input {
    width: 100%;
    
    height: 10px;

    -webkit-box-shadow: inset -5px -5px 4px 0px rgba(0,0,0,0.32);
-moz-box-shadow: inset -5px -5px 4px 0px rgba(0,0,0,0.32);
box-shadow: inset -5px -5px 4px 0px rgba(0,0,0,0.32);
}

.settings-active {
	transform: translateX(0%);
    opacity: 1;
    position: relative;
    z-index: -100;
}

/* Sliders */

.slider {
    -webkit-appearance: none;
    width: 100%;
    
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;

    -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.32);
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.32);
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  /* slider switch  */

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .sliderOnOff {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d3d3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderOnOff:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    
    background-color: #4CAF50;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderOnOff {
    background-color: #99b898;
  }
  
  input:focus + .sliderOnOff {
    box-shadow: 0 0 1px #99b898;
  }
  
  input:checked + .sliderOnOff:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .sliderOnOff.round {
    border-radius: 20%;
  }
  
  .sliderOnOff.round:before {
    border-radius: 50%;
  }

  /* reset button */

  #resetButton {
      width: 35%;
      height: 30px;
      text-align: center;

  }

  