/* HTML AND BODY */
*, html {
    margin:0;
    padding:0;   
}

body {
  margin: 0;
  width: 100%;
  overflow-x:hidden;
}
/* FONTS */

.muli {
    font-family: 'Muli', sans-serif;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

/* CONTAINER */

.container {
    width: 100vw;
}

/* NAVBAR */

.nav-bar {
    position: fixed;
    display: inline-flex;
    right: 0;
    top: 0;
    z-index: 1000;
}

/* burger */
.burger {
    background-color: #141414;  
    padding-top: 10px;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    transition: all 0.7s ease-in;

}

.burger:hover {
    border: 2px solid #f674a4;
}

.burger div { 
    width: 35px;
    height: 5px;
    background-color: whitesmoke;
    border-radius: 3px;
    margin: 8px;
    transition: all 0.3s ease-in;
    
}
.burger .line1 {
    margin-top: 0;
}


.toggle {
    padding-left: -10px;
    padding-right: 20px;
}

.toggle .line1{
margin-top: 10px;
transform: rotate(-45deg) translate(7px,10px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    margin-bottom: -10px;
    transform: rotate(45deg) translate(-8px,-25px);
}

/* links */

.nav-links {

    font-size: 1.5em;
    font-weight: bold;
    transition: all 0.7s ease-in;
}


.nav-links ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.nav-links li {
    background-color: #141414;
    padding:11px;
    margin-bottom:20px;
    margin-left:20px;
    border-radius: 10px;
}

.nav-links a {
    
    text-decoration: none;
    color: whitesmoke;
}

.nav-links a:hover {
    border-bottom: 2px solid whitesmoke;
}

/* LANDING */
.head {
    
    height: 90vh;
    width: 100%;
    
}
.landing {
    position: relative;
    background-color: #141414 ;
    height: 100%;
    width:100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); 
    color: whitesmoke;
}

.nav-links a:hover {
    border-bottom: 2px solid whitesmoke;
}

.landing img {
   
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    max-width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
}

.landingText {
    margin-left: 20%;;
    bottom: 0;
    margin-bottom: 100%;
    z-index: 100;
    position: absolute;
}

.landingText h1 {
    font-size: 2rem;
}

.landingText h3 {
    font-size: 0.8rem;
    margin-left: 100px;
}

/* MEDIA QUERIES HEADER */
@media only screen and (min-width: 350px) {
    .landingText {
        margin-bottom: 80%;
    }

    .landingText h1 {
        font-size: 2.5rem;
    }
    
    .landingText h3 {
        font-size: 1.2em;
    }
    
  }
  @media only screen and (min-width: 500px) {
    .landingText {
        margin-bottom: 60%;
    }

    .landingText h1 {
        font-size: 2.6rem;
    }
    
    .landingText h3 {
        font-size: 1.4em;
    }
    
  }

@media only screen and (min-width: 650px) {
    .landing {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%); 
    }
    .landing img {
        margin-bottom: 20px;
    }
    .landingText {
        margin-left: 20%;;
        margin-bottom: 50%;
       
    }
    .landingText h1 {
        font-size: 2.8rem;
    }
    
    .landingText h3 {
        font-size: 1.6em;
    }
  }

  @media only screen and (min-width: 650px) {

    .landingText {
        margin-left: 40%;;
        margin-bottom: 40%;
       
    }
    .landingText h1 {
        font-size: 2.8rem;
    }
    
    .landingText h3 {
        font-size: 1.6em;
    }
  }

  @media only screen and (min-width: 1050px) {
    .landing img {
        margin-bottom: 20px;
        margin-left: 20%;
    }
    .landingText {
        margin-left: 60%;;
        margin-bottom: 20%;
       
    }
    .landingText h1 {
        font-size: 3rem;
    }
    
    .landingText h3 {
        font-size: 1.8em;
    }

  }

  @media only screen and (min-width: 1350px) {
    .landingText {
        margin-left: 50%;;
        margin-bottom: 20%;
       
    }
    .landingText h1 {
        font-size: 3.2rem;
    }
    
    .landingText h3 {
        font-size: 2em;
    }

  }

/* ABOUT */

.about {
    margin-top: 50px;
    margin-bottom: 100px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutText {
    padding: 50px;
}

.about p {
    font-size: 1.2em;
    line-height: 1.6;
    
}

@media only screen and (min-width: 850px) {
    .aboutText {
        width: 1296px;
        border: 1px solid #CCC;
        border-radius: 15px;
        background: #eee;
        padding: 50px;
    }
   
  }

/* SKILLS */

.skillsSection {
    background-color: #141414;
    color: whitesmoke;
    height: auto;
    width: 100vw;
    -webkit-clip-path: polygon(0 0, 99% 21%, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 99% 21%, 100% 75%, 0 100%);
}

@media only screen and (max-width: 850px) {
    .skillsSection {
        -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    }
   
  }


.skills {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

@media only screen and (min-width: 650px) {
    .skills {
        flex-direction: row;
        display: inline-flex;
        justify-content: center;
    }
   
  }




.skillBadges {
    width: 100%;
}

.badgeDisplay {
    width: 100%;
}

.bodyLinks{
    width: 100%;
    height: auto;
}

.skillsImages {
    width: 90%;
    height: auto;
}

.skillBars {
    width: 90%;
}

.skillsBox {
    width: 90%;
    padding: 10px;
    border-radius: 9px;
    margin: auto;

}

.progress {
    width: 100%;
    background-color: rgba(56,49,49);
    border-radius: 10px;
    margin: 18px 0px;
    height: 25px;

}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: rgb(160, 18, 18);
    border-radius: 10px;
    position: relative;
    transition: all 1.5s;
}

.progress-bar span {
    position: absolute;
    top: 10%;
    right: 50%;
}

.skillBars {
    width: 90%;
}

.skillsBox {
    width: 90%;
    padding: 10px;
    border-radius: 9px;
    margin: auto;

}

.progress {
    width: 100%;
    background-color: rgba(56,49,49);
    border-radius: 10px;
    margin: 18px 0px;
    height: 25px;

}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: rgb(160, 18, 18);
    border-radius: 10px;
    position: relative;
    transition: all 1.5s;
}

.progress-bar span {
    position: absolute;
    top: 10%;
    right: 50%;
}

@media only screen and (min-width: 850px) {
    .skillBadges {
        width: 40%;
    }

    .skillsImages {
        width: 70%;
        height: auto;
    }

    .badgesDisplay h3{
        padding-top:35px;
    }
    .skillsCerts {
        height: 30%;
        width: 30%;
        transition: all .2s ease-in-out;
    }
    .skillsCerts:hover {
        transform: scale(3);
        left:50%;
        margin-left:100px;  
    }

    .skillBars {
        width: 40%;
    }
    
    .skillsBox {
        width: 100%;
        border-radius: 9px;
        margin: auto;
        justify-content: center;
        align-items: center;
    
    }
    .progress {
        width: 90%;
    
    }
  }



/* WORK */

.work {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work h1 {
    margin: 20px;
    margin-bottom: 55px;
}

.work p {
    text-align: center;
    margin-top:55px;
}

.work h3 {
    margin: 20px;
}
/* CAROUSEL */

.portfolioCarousel {
    width: 300px;
    height: 360px;
    position: relative;
}

/* arrow controls */
/* fix */
.portfolioCarousel i {
  
    font-size: 2em;
    z-index: 2;
}
.arrowBox {
    display: inline-flex;
    justify-content: space-between;
    width: 102%;
    /* max-width: 350px; */
}
.arrow {
   
    top: -90px;
    padding: 0;
    
    border-radius: 15px;
    
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }

  .prev {
    left: 50px;
  }
  
  .next {
    right: -50px;
  }

/* above */

.gallery {
    width: 300px;
    height: 360px;
    overflow: hidden;
}

.gallery ul {
    height: auto;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
  }

  .gallery li {
    display: inline-block;
    width: 316px;
    height: 316px;
  }

  .card {
    background: #fff;
    border-radius: 2px;
    display: block;
    
    margin: 1rem;
    position: relative;

    width: 300px;
    height: 300px;
  } 

  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .cardBoxes img {
    width: 100%;
    
  }

  .workInfo {
      padding-top: 80px;
  }

  @media only screen and (max-width: 300px) {
    .portfolioCarousel {
        width: 250px;
    }

    .gallery {
        width: 250px;
    }

    .card {
        width: 250px;
        height: 250px;
    }

    .gallery li {
        width: 266px;
        height: 266px;
    }
  }

  @media only screen and (min-width: 650px) {
    .portfolioCarousel {
        width: 632px;
    }

    .gallery {
        width: 632px;
    }
   
  }

  @media only screen and (min-width: 1050px) {
    .portfolioCarousel {
        width: 948px;
    }

    .gallery {
        width: 948px;
    }

    .gallery li:hover {
        transform: scale(1.2);
        z-index: 1000;
      }
   
  }

  @media only screen and (min-width: 1250px) {
    .portfolioCarousel {
        width: 1280px;
    }

    .gallery {
        width: 1264px;
    }
   
  }

 /* FOOTER */

 .contact {
    background-color: #141414;
    width: 100%;
    height: 500px;
    clip-path: polygon(0 9%, 100% 38%, 100% 100%, 0% 100%);
  }



  .footerContent {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    color: white;

    justify-content: flex-end;
    align-content: center;
    height: 100%;
  }



  .footerContent a {
    text-decoration: none;
    color: white; 
  }

  .contactlinks {
      margin-top: 50px;
      margin-bottom: 50px;
      display: inline-flex;
      color: whitesmoke;
      font-size: 2.5em;
      justify-content: space-around;

  }

  .contactlinks a {
      text-decoration: none;
      color: white;
      transition: .5s;
  }


  .contactlinks a:hover {
    
    animation: pulse 2s infinite;
    
  }
    
  @keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }


    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

  .footerP {
      margin-left: 50px;
  }

  .footerEmail {
      margin-top: 50px;
      font-size: 1.5em;
      text-align: center;
      
  }

  .footerEmail:hover {
      transform: scale(1.5);
  }

  @media only screen and (max-width: 950px) {
    .footerContent {
        margin-top: 0px;
        height: 100%;
      }

      .contactlinks {
        font-size: 1.5em;
      
    }

    .footerP {
        font-size: 1.2em;
    }

    .footerEmail {
        margin-top: 50px;
        font-size: 1em;
        text-align: center;
    }

  }